@import "vars";
@import "mixin";

.filter__sort {
    display: flex;
    height: 84px;
    padding-top: 39px;
    gap: 51px;
    box-sizing: border-box;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    z-index: 20;

    &__content {
        padding: 0 16px 16px 16px;
        background-color: $color_back_white;
    }

    &[open] {
        background: $color_back_white;
        height: fit-content;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading {
        color: $color_pink_basic;
    }

    &[open] path {
        fill: $color_pink_basic;
    }

    &__summary {
        display: flex;
        align-items: center;
        padding-left: 16px;
        gap: 11px;
        
    }

    &__heading {
        @include font(600, 14px, 17px);
        color: $color_black_000;
        border: none;
    }

    &__item {
        margin-top: 16px;
    }

    &__item[open] .filter__title {
        color: $color_pink_basic;
        
    }

    &__title {
        @include font(400, 14px, 17px);
        color: $color_grey;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid $color_gret_bottom;
        border-left: 5px solid $color_pink_basic;

        &:hover {
            color: $color_pink_basic;
        }
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6f6e6e;
        font-size: 14px;

        &:hover {
            color: $color_pink_basic;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    gap: 28px;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        @include font(400, 14px, 16px);
        color: $color_grey;

      
    }

    &__heading {
        @include font(400, 14px, 17px);
        color: $color_grey;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        background: #fff;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        left: -9px;
        top: 20px;
        z-index: 20;
    }

}
