@import "vars";
@import "mixin";

.header {
  background-color: $color_black;
  @include flex(row, center, space-between);
  height: 75px;
}

.header__logo {
  display: flex;
  gap: 41px;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 33px;
  align-items: center;
}

.nav {
  display: none;
  position: absolute;
  background: $color_back_white;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  top: 75px;
  right: 0px;
  z-index: 20;
  transition: right 0.3s;

  &__title {
    color: $color_black_000;
    font-size: 14px;
    font-weight: 700;
  }

  &__list {
    display: flex;
    padding: 24px 0 0 0;
    flex-direction: column;
    gap: 11px;
  }

  &__link {
    padding: 0 0 0 20px;
  }

  &__name {
    color: $color_pink_basic;
    font-size: 14px;

    &__category {
      color: $color_grey;
      font-size: 14px;
      font-weight: 300;

      &:hover {
        color: $color_pink_basic;
        font-weight: 400;
      }
    }
  }
}

#burger {
  display: none;
  transition: all 1s;
  &:checked ~ .nav {
    display: block;
    right: 0px;
  }
}

.icon__menu__svg:hover path {
  fill: $color_pink_basic;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header__logo {
    margin-left: 2rem;
  }

  .header__menu {
    margin-right: 2.3rem;
  }

  .menu_1:focus .menu__big {
    width: 190px;
    transition: all 0.3s;
  }
  .menu_1:hover .menu__big {
    width: 190px;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    margin-left: 1rem;
  }

  .header__menu {
    margin-right: 1.6rem;
  }

  .menu__big {
    position: absolute;
    top: 50px;
    right: 0;
    cursor: pointer;
  }
  .menu__big,
  .menu_2,
  .menu_3 {
    display: none;
  }
}
