@import "vars";

.navigation {
    background-color: $color_pink_back_navigation;
    display: flex;
    height: 148px;
    justify-content: space-between;
    align-items: center;
}

.navigation__title {
    color: $color_pink_basic;
    font-size: 24px;
}

.navi__list {
    display: flex;
    flex-direction: row;
}

.navi__link{
    color: $color_grey;
    font-weight: 300;
    font-size: 14px;
}

.navigation__link:not(:last-child)::after {
    content: "\/";
    padding: 0 8px;
}

.navigation__link:last-child .navi__link{
    font-weight: bold;
    color: $color_pink_basic;
}
