@import "vars";

.offer {
  display: grid;
  background: $color_back_white;
  padding-top: 65px;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}

.offer__item {
  @include flex(row, center, center);
  position: relative;
  grid-column: span 1;
}

.big {
  grid-column: span 3;
}

.offer__img {
  width: 100%;
  height: 100%;
  background: $color_black;
}

.offer__img img {
  opacity: 0.3;
  width: inherit;
  height: inherit;
}

.offer__text {
  @include flex(column, center, center);
  position: absolute;
  text-decoration: none;
}

.title__first {
  @include font(400, 15px, 16px);
  font-style: normal;
  text-align: center;
  color: $color_back_white;
}

.title__for {
  @include font(700, 23px, 19px);
  padding-top: 5px;
  font-style: normal;
  text-align: center;
  color: $color_pink_basic;
}

.offer__text:hover {
  border: 2px solid $color_pink_basic;
  background-color: $color_black_offer;
  transition: all 0.3s;
  padding: 10px 20px;
}

.offer__text:hover .title__first {
  color: $color_pink_basic;
  transition: all 0.3s;
}

.offer__text:hover .title__for {
  color: $color_back_white;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .offer {
    padding: 0 2%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .offer__item {
    height: 100%;
  }

  .offer__img {
    width: 100%;
    height: inherit;
  }

  .offer__img img {
    width: inherit;
    height: inherit;
  }

  .big {
    max-height: 116px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .offer {
    @include flex(column, center, start);
    padding: 0 2%;
    gap: 20px;
  }

  .offer__item {
    height: 100%;
  }

  .offer__img {
    width: 100%;
    height: inherit;
  }

  .offer__img img {
    width: inherit;
    height: inherit;
  }

  .big {
    height: 111px;
  }
}
