@import "vars";
@import "mixin";

.thing {
    background: #f7f7f7;
    padding: 50px 0;
    //   background-color: lime;
    grid-row: 1 / 3;
    grid-column: 1 / 4;
    height: 100%;

    &__button {
        @include flex(row, center, space-between);
        position: relative;

        &__item {
            @include flex(row, center, center);

            background: $color_grey_bolder_1;
            border: none;
            border-radius: 1px;
            width: 47px;
            height: 47px;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .thing {
      &__button {
        justify-content: center;
      }
    }
    button.thing__button__item {
      position: absolute;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
  }
