// color
$color_gret_bottom:#EBEBEB;
$color_grey: #6f6e6e;
$color_grey_descriplion: #5d5d5d;
$color_grey_bolder_1: #d4d4d4;
$color_grey_bolder: #C4C4C4;
$color_black_000: #000;
$color_black: #222224;
$color_black_offer: #272727;
$color_white_back_thing: #F7F7F7;
$color_text_white: #fbfbfb;
$color_back_white: #ffffff;
$color_white_hover: #f1f1f1;
$color_grey_card: #F5F3F3;
$color_pink_back_navigation: #F8F3F4;
$color_e1_white: #e1e1e1;
$color_back_product_white: #f8f8f8;
$color_back_top_pink:#f1e4e6;
$color_back_item2_pink: #f7e4e2;
$color_pink_pale: #f1afb8;
$color_pink_basic: #f16d7f;
$color_pink_press: #f1455c;

