.products {
  padding-top: 96px;
}

.products__text {
  text-align: center;
}

.product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.products__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.products__content {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  padding-top: 48px;
  gap: 30px;
}

.products__items {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f8f8;
  position: relative;
}

.product__img {
  margin-bottom: 25px;
  position: relative;
}

.img__item {
  position: relative;
  width: 360px;
  height: 420px;
}

.img__item__black {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.button__item__black {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 11px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 9px 16px;
}

.products__items:hover .img__item__black,
.button__item__black {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.button__item__black:hover {
  display: flex;
  border: #272727;
  color: #272727;
  background-color: #fff;
  transition: all 0.3s;
}
.button__item__black:hover path {
  fill: #272727;
  transition: all 0.3s;
}

.button__item__black:active {
  border: #fff;
  color: #fff;
  background-color: #f16d7f;
  transition: all 0.3s;
}
.button__item__black:active path {
  fill: #fff;
  transition: all 0.3s;
}

.product__name {
  padding-top: 25px;
  padding-left: 18px;
  padding-right: 29px;
}

.name__title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.product__description {
  padding-top: 25px;
  padding-left: 18px;
  padding-right: 29px;
}

.descriplion__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: #5d5d5d;
}

.product__price {
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 29px;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.img__item_item2 {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 420px;
  background: #f7e4e2;
}

.img__item2 {
  padding-top: 9px;
  padding-bottom: 11px;
}

.products__button {
  display: flex;
  justify-content: center;
  padding-top: 49px;
  padding-bottom: 61px;
}

.button__all {
  border: 2px solid #ff6a6a;
  padding: 15px 39px 14px;
  background: #ffffff;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #f26376;
}

.button__all:hover {
  border: 2px solid #ffffff;
  background: #f26376;
  color: #ffffff;
  transition: all 0.3s;
}

.button__all:active {
  border: 2px solid #f26376;
  background: #5d5d5d;
  color: #ffffff;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .products__content {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .products__items {
    flex-direction: column;
    width: 360px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .products__content {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products__items {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: fit-content;
    max-width: 360px;
  }

  .products__items:focus .img__item__black,
  .button__item__black {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }

  .product__name,
  .product__description,
  .product__price {
    padding: 0 10px 20px 10px;
  }

  .product__img {
    position: relative;
    margin-bottom: 25px;
  }

  .img__item,
  .img__item_item2 {
    width: 100%;
    height: auto;
  }

  /* .img__item {
        padding: 0; 
  } */

  .img__item img {
    max-width: 100%;
  }
}
