@import url("./css/header.css");
@import url("./css/top.css");
@import url("./css/footer.css");
@import url("./css/offer.css");
@import url("./css/product_item.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}


